NEXT_PUBLIC_DEFAULT_MODE=demo
ALLOW_PUBLIC_PERSISTENCE=false
ALLOW_PUBLIC_LOCAL_OLAS=false

MECH_PRIVATE_KEY_PATH=
MECH_CHAIN_CONFIG=gnosis
MECH_PRIORITY_ADDRESS=
MECH_TOOL_NAME=
MECH_USE_OFFCHAIN=true
MECHX_CHAIN_RPC=
MECHX_BIN=
MECHX_REQUEST_TIMEOUT_MS=45000
